{% extends 'main.html' %}

{% block title %}Services{% endblock title %}

{% load static %}

{% block head %}
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #111; /* Dark background color */
        color: #fff; /* Text color in dark mode */
    }

    h1 {
        font-size: 36px;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 30px;
        color: #fff; /* Text color in dark mode */
    }

    hr {
        border: none;
        border-top: 2px solid #007bff; /* Netflix blue color */
        margin: 30px auto;
        max-width: 500px;
    }

    h2 {
        font-size: 24px;
        margin-bottom: 10px;
        text-align: center;
        color: #fff; /* Text color in dark mode */
    }

    a {
        color: #007bff; /* Netflix blue color */
        text-decoration: none;
        transition: color 0.3s ease;
    }

    a:hover {
        color: #fff; /* Text color in dark mode on hover */
    }

    p {
        text-align: center;
        margin-bottom: 30px;
        color: #fff; /* Text color in dark mode */
    }

    .service-container {
        max-width: 600px;
        margin: 0 auto;
        padding: 40px;
        background-color:rgba(0, 0, 0, 0.8886);; /* Dark container background */
        border-radius: 10px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }

    .service-container:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    }

    .service-container a {
        display: block;
        padding: 20px;
        border: 1px solid #444; /* Dark border color */
        border-radius: 5px;
        transition: background-color 0.3s ease;
        color: #fff; /* Text color in dark mode */
    }

    .service-container a:hover {
        background-color: white; /* Slightly lighter background color on hover */
        color:red;
    }

    .service-container p {
        margin-top: 10px;
    }
</style>
{% endblock head %}

{% block body %}
<body style="background-image:url('{% static '/japan.jpg' %}'); background-repeat: no-repeat; background-size: cover;">

        <div class="container">
            
    <br>
    <br>
    <div class="service-container">
        <h1>Services</h1>
        <hr>
        <div class="service">
            <h2><a href="rockpaper">Rock Paper Scissors</a></h2>
            <p>Let's Determine Who Wins Between You And The Computer.</p>
        </div>
        <br>
        <div class="service">
            <h2><a href="ser3/diary">My Dear Diary</a></h2>
            <p>Your Personal Diary.</p>
        </div>
        <br>
        <div class="service">
            <h2><a href="todo">TO-DO List</a></h2>
            <p>For Efficient Time Management.</p>
        </div>
        
    </div>
    <br>
    <br>
</body>
{% endblock body %}
